*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 18px;
  width: 100%;
  height: 100%;
}

header {
  background-color: #e62520;
  text-align: center;
  padding: 20px;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

h1 {
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: clamp(1.5rem, 10vw, 110px);
  letter-spacing: 1px;
  margin: 40px auto 15px;
  text-transform: uppercase;
  text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.6);
}

h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

p {
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
}

form,
.formContent,
.urlContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

form input,
form button {
  border-radius: 4px;
  border: none;
  padding: 10px;
}

form input {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 12px;
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  min-height: 20px;
  width: 85%;
}

button {
  background-color: #e62520;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-bottom: 50px;
  transition: 0.6s;
}

button:hover {
  background-color: black;
}

.urlLink,
a,
a:visited {
  color: #3682cc;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clipboard {
  content: url("../public/images/clipboard.svg");
  cursor: pointer;
  height: 22px;
  width: auto;
  opacity: 0.5;
  transition: 0.8s;
  margin-left: 20px;
}

.clipboard:hover {
  opacity: 1;
}

.condensedUrl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3px;
}

@media only screen and (max-device-width: 380px) {
  form,
  .formContent,
  .urlContent,
  form input,
  button {
    width: 95%;
  }

  h2 {
    font-size: 30px;
  }

  a {
    font-size: 14px;
  }
}
